@keyframes back-color {
    0% {
        background-color: rgb(255, 230, 205)
    }

    20% {
        background-color: rgb(255, 244, 197)
    }

    50% {
        background-color: rgb(246, 255, 222)
    }

    75% {
        background-color: rgb(255, 226, 206)
    }

    100% {
        background-color: rgb(255, 230, 205)
    }
}

@keyframes opacityNew {
0% {
    opacity: 0;
}
100% {
    opacity: 100;
}

    
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(250, 155, 111);
    text-align: center;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: opacityNew 2.5s;
}


table {
    border-collapse: collapse;
    border: none;
    border-spacing: 0px;
    background-color: rgb(255, 230, 205);
    animation: back-color 6s infinite;
}

.menu {
    position: sticky;
    top: 0;
    bottom: 0;
    padding: 300px 0px 300px 0px;
    width: 350px;
}

.name {
    font-size: 45px;
    font-weight: bolder;
    margin: 0 0 0 50px;
}

.repetitor {
    font-size: 35px;
    margin: 0 0 0 50px;

}

.sidebarlinks {
    font-size: 30px;
    text-align: left;
    margin: 0 0 0 50px;
}

.sidebarlinks:hover {
    transform: scale(1.2);
}

.photosfamily {
    width: 600px;
    height: 450px;
    border-radius: 20px;
}

.photosfamily:hover {
    transform: scale(1.4);
    transition: 0.3s;
}

.postList {
    background-color: rgb(255, 235, 205);
}

.myPortret {
    border: none;
    text-align: center;
    padding: 100px 150px 0px 20px;
    background-color: rgb(255, 235, 205);
}

.myPortret1 {
    border-radius: 50px;
}

.myPortret1:hover {
    transform: scale(1.6);
    transition: 0.3s;
}

.aboutMe {
    padding: 100px 150px 100px 100px;
    font-size: 30px;
    background-color: rgb(255, 235, 205);
}

.contacts {
    text-align: center;
    padding: 100px 150px 10px 20px;
    background-color: rgb(173, 161, 143);
}

.inputContact {
    width: 450px;
    border: none;
    background-color: rgba(87, 45, 45, 0.671);
    color: white;
    font-weight: bold;
    padding: 10px;
}

.inputContact::placeholder {
    color: white;
}

.size {
    font-size: 25px;
    margin: 0 0 8px 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(87, 45, 45, 0.671);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.widthNew {
    width: 234px;
    border: none;
}

h3 {
    color: white;
}