body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1280px;
  height: 80px;
  background: #4520ab;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffbc5b;
}

.myKino {
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  text-transform: uppercase;
  opacity: 0.3;
  cursor: pointer;
}
.myKino:hover {
  transform: scale(1.2);
  opacity: 1;
}

.shop {
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  text-transform: uppercase;
  opacity: 0.3;
  cursor: pointer;
}

.shop:hover {
  transform: scale(1.2);
  opacity: 1;
}

.myShop {
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.3;
  cursor: pointer;
}

.myShop:hover {
  transform: scale(1.2);
  opacity: 1;
}

.desctop1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1280px;
  height: 1264px;
  background: #141414;
}

.search:hover {
  transform: scale(1.4);
}

.photo:hover {
  transform: scale(1.2);
}

.navigation {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 30px;
  color: #ffbc5b;
  margin: 50px;
  cursor: pointer;
}

.postors1 {
  display: flex;
  justify-content: space-between;
}

.text {
  font-weight: 500;
  font-size: 16px;
  color: #989898;
  margin-top: 10px;
}

.info {
  color: #515151;
  font-weight: 500;
  margin-top: 3px;
  font-size: 14px;
  cursor: default;
}

.img1 {
  width: 322px;
  height: 182px;
  background: url(/img/1.png);
  border-radius: 15px;
}

.img2 {
  width: 322px;
  height: 182px;
  background: url(/img/2.png);
  border-radius: 15px;
}

.img3 {
  width: 322px;
  height: 182px;
  background: url(/img/3.png);
  border-radius: 15px;
}

.lupa:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.recomendations {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 30px;
  color: #ffbc5b;
  margin: 100px 50px 50px 50px;
  cursor: pointer;
}

.postors2 {
  display: flex;
  justify-content: space-between;
}

.img4 {
  width: 322px;
  height: 485px;
  background: url(/img/4.png);
  border-radius: 15px;
}

.img5 {
  width: 322px;
  height: 485px;
  background: url(/img/5.png);
  border-radius: 15px;
}

.img6 {
  width: 322px;
  height: 485px;
  background: url(/img/6.png);
  border-radius: 15px;
}

.rating {
  cursor: default;
}
