@font-face {
  font-family: "IBMPlexMono-Bold";
  src: url(../font/IBMPlexMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexMono-Light";
  src: url(../font/IBMPlexMono-Light.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexMono-Medium";
  src: url(../font/IBMPlexMono-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url(../font/IBMPlexMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexMono-SemiBold";
  src: url(../font/IBMPlexMono-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexMono-Thin";
  src: url(../font/IBMPlexMono-Thin.ttf) format("ttf");
}

.header {
  background: #4520ab;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #141414;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #4520ab;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffbc5b;
}

.myKino {
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFBC5B;
}

.myKino:hover {
  transform: scale(1.2);
  opacity: 1;
}

.shop {
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  text-transform: uppercase;
  opacity: 0.3;
  cursor: pointer;
}

.shop:hover {
  transform: scale(1.2);
  opacity: 1;
}

.myShop {
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.3;
  cursor: pointer;
}

.myShop:hover {
  transform: scale(1.2);
  opacity: 1;
}

.desctop1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #141414;
}

.lupa {
  display: flex;
}

.search:hover {
  transform: scale(1.4);
}

.photo:hover {
  transform: scale(1.2);
}

.navigation {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 30px;
  color: #ffbc5b;
  margin: 80px 120px 120px 120px;
}

p {
  max-width: 350px;
  height: auto;
}

p:hover {
  cursor: pointer;
  color: white;
}

.postors1 {
  display: flex;
  justify-content: space-between;
}

.text {
  font-weight: 500;
  font-size: 20px;
  color: #989898;
  margin-top: 10px;
}

.info {
  color: #515151;
  font-weight: 500;
  margin-top: 3px;
  font-size: 16px;
  cursor: default;
}

.img1 {
  width: 322px;
  height: 182px;
  background: url(../img/1.png);
  border-radius: 15px;
}

.img2 {
  width: 322px;
  height: 182px;
  background: url(../img/2.png);
  border-radius: 15px;
}

.img3 {
  width: 322px;
  height: 182px;
  background: url(../img/3.png);
  border-radius: 15px;
}

.ollKino:hover {
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}

.ollKino>a:hover {
  color: white;
  transform: rotate(180deg);
}

.recomendations {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 30px;
  color: #ffbc5b;
  margin: 100px 120px 120px 120px;
}

.postors2 {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 0 0;
}

.img4 {
  width: 322px;
  height: 485px;
  background: url(../img/4.png);
  border-radius: 15px;
}

.img5 {
  width: 322px;
  height: 485px;
  background: url(../img/5.png);
  border-radius: 15px;
}

.img6 {
  width: 322px;
  height: 485px;
  background: url(../img/6.png);
  border-radius: 15px;
}

.rating {
  cursor: default;
  width: 30px;
  height: 20px;
  margin: 15px;
  padding: 5px 1px 5px 5px;
  background-color: #ffbc5b;
  color: black;
  border-radius: 20%;
  font-size: 20px;

}

@media (min-width:768px) and (max-width:1400px) {

  .postors1,
  .postors2 {
    flex-wrap: wrap;
  }
}

@media (min-width:768px) and (max-width:1400px) {
  .navigation {
    margin: 40px 60px 60px 60px;
  }
}

@media (min-width:768px) and (max-width:1400px) {

  .text,
  .info {
    margin: 5px 0 0 0;
    font-size: 25px;

  }
}

@media (min-width:768px) and (max-width:1400px) {
  .info {
    margin: 0 0 20px 0;
  }
}

@media (min-width:768px) and (max-width:1400px) {
  .recomendations {
    margin: 0 60px 60px 60px;
  }
}

@media (max-width:768px) {

  .postors1,
  .postors2 {
    flex-wrap: wrap;
  }
}

@media (max-width:768px) {

  .myKino,
  .shop,
  .myShop {
    font-size: 10px;
    margin: 0 7px 0 0;
  }
}

@media (max-width:768px) {

  .logoImg {
    width: 60px;
  }
}

@media (max-width:768px) {

  .search {
    width: 15px;
  }
}

@media (max-width:768px) {

  .photo {
    width: 20px;
  }
}

@media (max-width:768px) {

  .text,
  .info {
    margin: 5px 0 0 0;
    font-size: 25px;
  }
}

@media (max-width:768px) {
  .info {
    margin: 0 0 30px 0;
  }
}

@media (max-width:768px) {
  .navigation {
    margin: 0 0 60px 0;
  }
}


@media (max-width:768px) {
  .recomendations {
    margin: 0 60px 60px 0;
  }
}