* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Ds brusher;
  src: url(./font/ds_brushes.ttf);
}

.header {
  font-size: 50px;
  font-family: Ds brusher;
  color: rgba(54, 131, 145, 0.877);
  background-color: bisque;
  border-radius: 30px;
  padding: 20px;
}

body {
  font-family: sans-serif;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(243, 236, 227);
}
.conteiner {
  display: grid;
  place-items: center;
  gap: 70px;
}

.center {
  display: grid;
  gap: 20px;
  place-items: center;
}

#input {
  font-size: 30px;
  border-radius: 10px;
  padding: 10px;
  background-color: bisque;
  color: brown;
}

#buttonAdd {
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
  background-color: bisque;
  color: brown;
}

#tabelQuestion {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
}

#tabelАnswer {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
}

#clearAll {
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
  background-color: bisque;
  color: brown;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .header {
    font-size: 35px;
  }

  #clearAll {
    font-size: 20px;
  }

  #input {
    font-size: 25px;
  }

  #buttonAdd {
    font-size: 20px;
  }

  body {
    min-height: 80vh;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 30px;
  }

  #clearAll {
    font-size: 15px;
  }
  #input {
    font-size: 20px;
  }

  #buttonAdd {
    font-size: 15px;
  }

  body {
    min-height: 60vh;
  }
}
